<article class="category-details">
	<h1>{{category.name}}</h1>

	{{#if category.hasCategories}}
		<p>Sub-categories</p>
		{{#each category.categories}}
			<article class="blog-post">
				<h3><a href="/{{this.uri}}">{{this.name}} ({{this.articles.length}})</a></h3>
			</article>
		{{/each}}
	{{/if}}

	{{#if category.hasSeries}}
		<p>Series</p>
		{{#each category.series}}
			<article class="blog-post">
				<h3><a href="/{{this.uri}}">{{this.name}} ({{this.articles.length}})</a></h3>
			</article>
		{{/each}}
	{{/if}}

	{{#if category.hasArticles}}
		<p>Articles</p>
		{{>articles category}}
	{{/if}}
</article>