<article class="category-details">
	<h1>{{category.name}}</h1>

	{{#if category.hasCategories}}
		<p>Sub-categories</p>
		{{#each category.categories}}
		<article class="blog-post">
			<h3><a href="{{../url}}/{{this.uri}}">{{this.name}} ({{this.articles.length}})</a></h3>
		</article>
		{{/each}}
	{{/if}}

	{{#if category.hasArticles}}
		<p>Articles</p>
		{{>articles category}}
	{{/if}}
</article>