{{#each articles}}
	<article class="blog-post">
	<h2><a href="/{{this.uri}}">{{this.title}}</a></h2>
	<p>{{info}}</p>
	 {{article.tags}}
		{{>internal/tag-list}}
	</article>
	<hr/>
{{/each}}

{{{text}}}